<div class="panel panel-default">
  <div class="panel-heading">
    <div class="row pad-left-right">
      <span class="pull-left title">Contacts</span>
      <a class="btn btn-success pull-right pad-right">New Contact</a>
    </div>
  </div>

  <div class="panel-body">
    <div class="row">
      <div class="col-xs-12">
        <a *ngFor="let contact of contacts" class="list-group-item clearfix">
          <div class="pull-left">
            <h3 class="list-group-item-heading">{{ contact?.name }}</h3>
          </div>
          <div class="pull-right">
            <img class="img-thumbnail" src="{{contact?.imageUrl}}" alt="{{contact?.name}}">
          </div>
        </a>
      </div>
    </div>
  </div>
</div>

